.main-nav{
    background-color: black;
    color: white;
display: flex;
justify-content: space-between;
padding-left: 1rem;
padding-right: 1rem;
align-items: center;
}
.main-link{
    display: flex;
    text-decoration: none;
    
}
li{
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}